/* nejsme vcerejsi, pouzivame moderni box model */

html {
    box-sizing: border-box;
}

*,
 ::after,
 ::before {
    box-sizing: inherit;
}


/* -------------------------------------------------- */


/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni
s pribyvajici sirkou pridavame media query pro
středně široké obrazovky:
@media (min-width: 480px) {
}
široké obrazovky
@media (min-width: 860px) {
}
*/

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}


/* ------------------------------- */


/* ----- DOLE BUDE TVOJE CSS ----- */


/* ------------------------------- */

.salat {
    background-image: url("images/salat.jpg");
    display: flex;
    background-position: center;
    min-height: 200px;
    justify-content: space-between;
    flex-direction: column;
}

.svacina {
    background-image: url("images/chlebicek.jpg");
    display: flex;
    background-position: center;
    min-height: 90px;
    justify-content: space-between;
    flex-direction: column;
}

.lusteniny {
    background-image: url("images/cizrna.jpg");
    display: flex;
    background-position: center;
    min-height: 90px;
    justify-content: space-between;
    flex-direction: column;
}

.mexicka {
    background-image: url("images/tacos.jpg");
    display: flex;
    background-position: center;
    min-height: 90px;
    justify-content: space-between;
    flex-direction: column;
}

.burgery {
    background-image: url("images/burger.jpg");
    display: flex;
    background-position: center;
    min-height: 90px;
    justify-content: space-between;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2 {
    font-family: 'Releway', sans-serif;
    font-weight: 800;
    font-size: 1.25rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

h1 {
    font-family: 'Releway', sans-serif;
    font-weight: 800;
    font-size: 1.75rem;
    padding-left: 0.5rem;
    padding-bottom: 0.1rem;
}

.kategorie {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    display: flex;
    left: auto;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
}

.komentar {
    font-family: 'Source Sans Pro' sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}


/* tablety */

@media (min-width: 480px) {
    h1 {
        font-size: 2rem;
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    h2 {
        font-size: 1.5rem;
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .salat {
        min-height: 250px;
        width: 100%;
    }
    .kategorie {
        padding-left: 1.25rem;
        padding-top: 1.25rem;
    }
    .komentar {
        padding-right: 1.25rem;
        padding-top: 1.25rem;
    }
    .maly_recept {
        /* min-height: 150px; */
        /* width: 50%; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cast1 {
        width: 50%;
        flex-direction: column;
    }
    .cast2 {
        width: 50%;
        flex-direction: column;
    }
}


/* monitory */

@media (min-width: 860px) {
    h1 {
        font-size: 3rem;
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    h2 {
        font-size: 1.75rem;
        padding-left: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .salat {
        min-height: 400px;
        width: 33.3%;
    }
    .kategorie {
        padding-left: 1.25rem;
        padding-top: 1.25rem;
    }
    .komentar {
        padding-right: 1.25rem;
        padding-top: 1.25rem;
    }
    .maly_recept {
        /* min-height: 200px;
        width: 50%; */
        display: flex;
        flex-direction: row;
    }
    .cast1 {
        flex-direction: column;
        width: 33.3%;
    }
    .cast2 {
        flex-direction: column;
        width: 33.3%;
    }
    .maly {
        min-height: 200px;
    }
    .all {
        display: flexbox;
        flex-direction: row;
    }
}